body{
    margin: 0;
    font-family: 'Noto Sans Bengali', sans-serif;
}

h1{
    font-size: 50px;
}
.name-highlight{
    color: orangered;
}
.para-size{
    font-family: 'Courier New', Courier, monospace;
}
.header-with{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header-with img{
    width: 100%;
}
.top-banner{
    border: 1px solid red;
    background-image: url("/img/top-banners.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.main-button{
    color: white;
    background-color: coral;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5%;
}
.big-dream{
    border: 1px solid red;
    background-image: url("/img/top-banners.png");
    background-repeat: no-repeat;
}